:root{
    --darkColor:#19283f;
    --greenColor:#33d1cc;
    --redColor:#ff3150;
    --yellowColor:#ffc400;
    --sectionColor:#eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
    /* height: 10000px; */
}
.main-btn {
    background-color: var(--redColor);
    color: var(--yellowColor);
    padding: 0.5rem 1rem;
  }
  .main-btn:hover {
    color: var(--yellow-color);
    border-color: #ff3150;
  }
  .main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color:var(--greenColor);
    position:absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
.navbar{
    background-color: var(--darkColor);
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--greenColor);
}
.search{
    border-left: 1px solid var(--greenColor);
}
.search i{
    color: var(--greenColor);
}
.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--greenColor);
}
.landing{
    background-color: var(--darkColor);
    min-height: calc(100vh - 72px);
}
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
    left:50%;
    transform: translateX(-50%);
}
.features .icon-holder .number{
    font-size: 12rem;
    color: var(--sectionColor);
}
.features .icon-holder .icon{
    counter-reset: var(--greenColor);
}
.features .feat h4{
    color:var(--yellowColor);
}
.our-work{
    background-color: var(--sectionColor);
}
.our-work ul .active{
    background-color: var(--redColor);
    color: var(--yellowColor);
}
.our-work ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover{ 
    color: var(--redColor);

}
.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
  }
  .our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
  }
  .our-work .box:hover::before {
    transform: translateX(0);
  }
  /* Start Stuff */
.stuff .description {
    max-width: 500px;
  }
  /* End Stuff */
  /* Start Team */
  .team {
    background-color: var(--sectionColor);
  }
  .team h2 {
    color: var(--yellowColor);
  }
  .team .box h4 {
    background-color: var(--greenColor);
  }
  /* End Team */
  /* Start Project */
  .project {
    background-color: var(--darkColor);
  }
  /* End Project */
  /* Start Subscribe */
  .subscribe {
    background-color: var(--yellowColor);
  }
  .subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
  }
  .subscribe input[type="text"]:focus {
    outline: none;
  }
  .subscribe ::placeholder {
    color: white;
  }
  .subscribe input[type="submit"] {
    background-color: var(--darkColor);
    color: var(--yellow-color);
  }
  /* End Subscribe */
  /* Start Footer */
  .footer {
    background-color: var(--darkColor);
  }
  .footer .copyright > span {
    color: var(--greencolor);
  }
  .footer .copyright div span {
    color: var(--yellowColor);
  }
  .footer .contact ul svg {
    width: 20px;
    height: 20px;
  }
  .footer .facebook {
    background-color: #1877f2;
  }
  .footer .twitter {
    background-color: #1da1f2;
  }
  .footer .linkedin {
    background-color: #0077b5;
  }
  .footer .youtube {
    background-color: #ff0000;
  }
  /* End Footer */